{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keypad Configuration</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
    <body>
        <div id="page-container">
            <div class="row-container center">
                <h1>Keypad Configuration</h1>
            </div>
            <hr/>
            <div class="row-container wrap">
                <div id="connect-btn" class="std-button green">Connect a device</div>
                <div id="disconnect-btn" class="std-button red">Disconnect device</div>
                <div id="save-btn" class="std-button green">Save</div>
            </div>
            <div id="import-export-container" class="row-container wrap">
                <input id="import-input" type="text" class="std-text-input" placeholder="Settings code">
                <div id="import-btn" class="std-button blue">Import</div>
                <div id="export-btn" class="std-button blue">Export</div>
            </div>
            <hr/>
            <div id="keypad-row" class="row-container">
                <div id="keypad-container">
                    <div class="keypad-row-top">
                        <div id="key1-btn" class="keypad-key-container"></div>
                        <div id="key2-btn" class="keypad-key-container"></div>
                        <div id="key3-btn" class="keypad-key-container"></div>
                        <div id="key4-btn" class="keypad-key-container"></div>
                    </div>
                    <div class="keypad-row-bottom-container">
                        <div id="key5-btn" class="keypad-row-bottom-container-half">
                            <div class="keypad-row-bottom">
                                <div class="keypad-row-bottom-piece top-left"></div>
                            </div>
                            <div class="keypad-row-bottom">
                                <div class="keypad-row-bottom-piece bottom-left"></div>
                            </div>
                            <div id="key5-display" class="keypad-key-container-bottom-row left"></div>
                        </div>
                        <div id="key6-btn" class="keypad-row-bottom-container-half">
                            <div class="keypad-row-bottom">
                                <div class="keypad-row-bottom-piece top-right"></div>
                            </div>
                            <div class="keypad-row-bottom">
                                <div class="keypad-row-bottom-piece bottom-right"></div>
                            </div>
                            <div id="key6-display" class="keypad-key-container-bottom-row right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <h1>Touch threshold: <span id="touch-threshold-display"></span></h1>
            <input id="touch-threshold-input" type="range" min="0" max="100">
        </div>
        <script type="module">
            import { run } from "{% static 'js/main.js' %}";
            run();
        </script>
    </body>
</html>